*
{
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
    box-sizing: border-box;
}
.cart-container
{
    padding: 70px 140px;
    width: 100%;
    background: #f5f5f7;
    border-bottom: 0.75px solid #9a9a9a;
}
.cart-container .empty-cart
{
    padding: 15% 0px;
}
.cart-container .empty-cart h2
{
    text-align: center;
    font-size: 50px;
    color: #010f1c;
    font-weight: 300;
    margin-bottom: 5%;
}
.cart-container .empty-cart h2 span{
    color: #696666;
}
.cart-container .empty-cart .emptyCartBtn
{
    margin-left: 45%;
    text-decoration: none;
    color: #fff;
    padding: 12px 25px;
    background: #010f1c;
    border-radius: 30px;
} 
.cart-container .content
{
    max-width: 100%;
}
.cart-container .content .cart-items
{
    margin-bottom: 5%;
    padding-right: 30px;
    padding: 30px 60px;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 8px;
    display: flex;
    background: #fff;
    border-radius: 30px;
}
.cart-container .content .cart-items .image-box
{
    margin: 12px 0px;
    width: 270px;
    height: 270px;
}
.cart-container .content .cart-items .image-box img
{
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;
    border-radius: 30px;
    width: 270px;
    height: 270px;
}
.cart-container .content .cart-items .detail
{
    display: flex;
    margin-top: 5px;
    padding: 15px 50px;
}
.cart-container .content .cart-items .detail .info h4
{
    font-size: 16px;
    color: #696666;
    font-weight: 100;
}
.cart-container .content .cart-items .detail .info h3
{
    margin-top: 2px;
    color: #010f1c;
    font-size: 32px;
}
.cart-container .content .cart-items .detail .info p
{
    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
    color: #010f1c;
}
.cart-container .content .cart-items .detail .info .qty
{
    margin-top: 75px;
    display: flex;
}
.cart-container .content .cart-items .detail .info .qty .increaseQuantity
{
    padding: 0px 10px;
    background: none;
    outline: none;
    border: none;
    color: #696666;
    font-size: 22px;
    cursor: pointer;
}
.cart-container .content .cart-items .detail .info .qty .decreaseQuantity
{
    padding: 0px 10px;
    background: none;
    outline: none;
    border: none;
    color: #696666;
    font-size: 22px;
    cursor: pointer;
}
.cart-container .content .cart-items .detail .info .qty input
{
    border: none;
    outline: none;
    background: none;
    font-size: 24px;
    color: #000;
    width: 30px;
    margin-left: 20px;
}
.cart-container .content .cart-items .detail .info .subtotal
{
    color: #010f1c;
    font-size: 20px;
    margin-top: 10px;
}
.cart-container .content .cart-items .detail .close
{
    margin-top: 30px;
    margin-left: 50px;
}
.cart-container .content .cart-items .detail .close button
{
    border: none;
    outline: none;
    border: none;
    font-size: 20px;
    color: #db0045;
    background: none;
    cursor: pointer;
}
.cart-container .total-price
{
    margin-left: 25px;
    font-size: 28px;
}
.cart-container .checkout
{
    margin-top: 1%;
    margin-left: 25px;
    padding: 12px 30px;
    color: #fff;
    border: none;
    outline: none;
    background: #0071e3;
    cursor: pointer;
    border-radius: 25px;
}
@media screen and (max-width: 848px) {
    .list-container .empty-list .emptyListBtn {
        margin-left: 42%;
    }
    .list-container .empty-list h2 {
        font-size: 42px;
    }
    .cart-container .empty-cart .emptyCartBtn {
        margin-left: 39%;
    }
    .cart-container {
        padding: 70px 55px;
    }
}
@media screen and (max-width: 820px) {
    .cart-container .empty-cart .emptyCartBtn {
        margin-left: 38%;
    }
    .cart-container {
        padding: 70px 40px;
    }
}
@media screen and (max-width: 768px) {
    .cart-container .empty-cart h2 {
        font-size: 46px;
    }
    .cart-container .content .cart-items {
        padding: 10px 32px;
    }
    .cart-container .content .cart-items .image-box img {
        width: 170px;
        height: 170px;
    }
    .cart-container .content .cart-items .detail {
        padding: 15px 4px;
    }
    .cart-container .content .cart-items .detail .info h4 {
        font-size: 14px;
    }
    .cart-container .content .cart-items .detail .info h3 {
        font-size: 26px;
    }
    .cart-container .content .cart-items .detail .info p {
        font-size: 18px;
        margin-top: 12px;
    }
    .cart-container .content .cart-items .detail .info .qty {
        margin-top: 50px;
        display: flex;
    }
    .cart-container .content .cart-items .detail .info .qty .increaseQuantity {
        font-size: 18px;
    }
    .cart-container .content .cart-items .detail .info .qty .decreaseQuantity {
        font-size: 18px;
    }
    .cart-container .content .cart-items .detail .info .qty input {
        font-size: 20px;
    }
    .cart-container .total-price {
        margin-left: 25px;
        font-size: 24px;
    }
    .cart-container .checkout {
        margin-top: 2%;
        padding: 11px 26px;
    }
}
@media screen and (max-width: 480px) {
    .list-container .empty-list h2 {
        font-size: 20px;
    }
    .list-container .empty-list .emptyListBtn {
        font-size: 9px;
        margin-left: 37%;
        text-decoration: none;
        padding: 10px 16px;
    }
    .cart-container {
    padding: 35px 35px;
    }
    .cart-container .content .cart-items {
        padding: 5px 20px;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.30) 0px 2px 6px;
    }
    .cart-container .content .cart-items .image-box {
        margin-top: 12px;
        margin-right: 18px;
        width: 100px;
        height: 100px;
    }
    .cart-container .content .cart-items .image-box img {
        width: 100px;
        height: 100px;
        box-shadow: rgba(0, 0, 0, 0.20) 0px 2px 6px;
        border-radius: 16px;
    }
    .cart-container .content .cart-items .detail .info h4 {
        font-size: 9px;
    }
    .cart-container .content .cart-items .detail .info h3 {
        font-size: 12px;
    }
    .cart-container .content .cart-items .detail .info p {
        font-size: 11px;
        margin-top: 6px;
    }
    .cart-container .content .cart-items .detail .info .qty .increaseQuantity {
        font-size: 12px;
    }
    .cart-container .content .cart-items .detail .info .qty .decreaseQuantity {
        font-size: 12px;
    }
    .cart-container .content .cart-items .detail .info .qty input {
        font-size: 10px;
        margin-left: 8px;
        width: 16px;
    }
    .cart-container .content .cart-items .detail .info .qty {
        margin-top: 22px;
    }
    .cart-container .content .cart-items .detail .info .subtotal {
        color: #010f1c;
        font-size: 12px;
        margin-top: 5px;
    }
    .cart-container .content .cart-items .detail .close {
        margin-top: 0px;
        margin-left: 10px;
    }
    .cart-container .total-price {
        margin-left: 5px;
        font-size: 15px;
    }
    .cart-container .checkout {
        margin-top: 3%;
        font-size: 8px;
        margin-left: 5px;
        padding: 11px 26px;
    }
}
@media screen and (max-width: 320px){
    .list-container .empty-list h2 {
        text-align: center;
        font-size: 12px;
    }
    .list-container .empty-list .emptyListBtn {
        font-size: 6px;
        margin-left: 37%;
        text-decoration: none;
        padding: 6px 12px
    }
    .cart-container .content .cart-items .detail .close button {
        font-size: 12px;
    }
}