*
{
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
    box-sizing: border-box;
}
.list-container
{
    padding: 70px 140px;
    width: 100%;
    background: #f5f5f7;
    border-bottom: 0.75px solid #9a9a9a;
}
.list-container .empty-list
{
    padding: 15% 0px;
}
.list-container .empty-list h2
{
    text-align: center;
    font-size: 50px;
    color: #010f1c;
    font-weight: 300;
    margin-bottom: 5%;
}
.list-container .empty-list h2 span{
    color: #696666;
}
.list-container .empty-list .emptyListBtn
{
    margin-left: 45%;
    text-decoration: none;
    color: #fff;
    padding: 12px 25px;
    background: #010f1c;
    border-radius: 30px;
}
.list-container .content {
    display: flex;
    flex-wrap: wrap;
}
.list-container .content .list-items
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list-container .content .list-items .box
{
    padding: 10px 20px;
    overflow: hidden;
    width: 280px;
    height: 410px;
    border: 1px solid #e2e0e0;
    margin-bottom: 50px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 35px;
    margin-left: 1px;
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
    background-color: #fff;
}
.list-container .content .list-items .box .image-box
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e0e0;
}
.list-container .content .list-items .box .image-box img
{
    width: 300px;
    height: 250px;
    margin-right: 80px;
}
.list-container .content .list-items .box .detail
{
    margin-top: 10px;
}
.list-container .content .list-items .box .detail h3
{
    font-size: 16px;
    margin-top: 5px;
    color: #010f1c;
    transition: 0.5s;
}
.list-container .content .list-items .box .detail p
{
    color: #9a9a9a;
    font-size: 14px;
}
.list-container .content .list-items .box:hover .detail h3
{
    color: #0071e3;
}
.list-container .content .list-items .box .detail h4
{
    margin-top: 5px;
    font-size: 14px;
    color: #0071e3;
    letter-spacing: 1px;
}
.list-container .content .list-items .box .remove button{
    margin-top: 5px;
}

@media screen and (max-width: 1024px) {
    .list-container {
        padding: 60px 201px;
    }
}

@media screen and (max-width: 848px) {
    .list-container {
        padding: 60px 113px
    }
}

@media screen and (max-width: 820px) {
    .list-container {
        padding: 60px 99px
    }
}

@media screen and (max-width: 768px) {
    .list-container {
        padding: 60px 73px
    }
}

@media screen and (max-width: 717px) {
    .list-container {
        padding: 60px 47px
    }
}

@media screen and (max-width: 480px) {
    .list-container {
        padding: 60px 90px;
    }
}

@media screen and (max-width: 425px) {
    .list-container {
        padding: 50px 70px;
    }
}

@media screen and (max-width: 375px) {
    .list-container {
        padding: 50px 47px;
    }
}